.ab-theme-l5 {
  color: #000 !important;
  background-color: #f6f6f6 !important;
}
.ab-theme-l4 {
  color: #000 !important;
  background-color: #dfdfdf !important;
}
.ab-theme-l3 {
  color: #000 !important;
  background-color: #c0c0c0 !important;
}
.ab-theme-l2 {
  color: #fff !important;
  background-color: #a0a0a0 !important;
}
.ab-theme-l1 {
  color: #fff !important;
  background-color: #818181 !important;
}
.ab-theme-d1 {
  color: #fff !important;
  background-color: #575757 !important;
}
.ab-theme-d2 {
  color: #fff !important;
  background-color: #4e4e4e !important;
}
.ab-theme-d3 {
  color: #fff !important;
  background-color: #444444 !important;
}
.ab-theme-d4 {
  color: #fff !important;
  background-color: #3a3a3a !important;
}
.ab-theme-d5 {
  color: #fff !important;
  background-color: #303030 !important;
}
